@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-3d {
    transform-style: preserve-3d;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0f172a;
  color: white;
}
